* { 
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    font-size: 18px;
}

body {
    padding-bottom: 20px
}

.content {
    margin: 0 auto;
    max-width: 550px;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 30px;

}

.title {
    font-size: 35px;
    display: flex;
    justify-content: center;
}


.ibox {
    display: flex;
    justify-content: center;
}

.img1 {
    width: 450px;
    height: auto;
}


#tinytitle {
    font-size: 25px;
    font-weight: 700;
}

#links {
    display: flex;
    justify-content: center;
    text-decoration: none;
    color: black;
    border: 1px solid black; 
    padding: 10px;
    font-size: 20px;
    font-weight: 600;

}

#homebox {
    padding: 0 0 0;
}

@media (max-width: 900px) {

    .title {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    

    .content {
        margin: 0 auto;
        max-width: 300px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 15px;
    
    }

    .img1 {
        width: 300px;
        height: auto;
    }


    #tinytitle {
        font-size: 20px;
        font-weight: 700;
    }

    * { 
        font-size: 16px;
        background-color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }

    #links {
        font-size: 16px;
    }

    #homebox {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
    }
    
}



@media (max-width: 750px) {

    .title {
        font-size: 30px;
        display: flex;
        justify-content: center;
    }
    

    .content {
        margin: 0 auto;
        max-width: 300px;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 15px;
    
    }

    .img1 {
        width: 250px;
        height: auto;
    }


    #tinytitle {
        font-size: 20px;
        font-weight: 700;
    }

    * { 
        font-size: 16px;
        background-color: antiquewhite;
        font-family: Arial, Helvetica, sans-serif;
        box-sizing: border-box;
    }

    #links {
        font-size: 16px;
    }

    #homebox {
        padding-left: 30px;
        padding-right: 30px;
        padding-top: 10px;
    }
    
}